<h1>Tweets</h1>
    <% @tweeets.each do |tweeet| %>
      <hr>
        <div>
          <%= tweeet.tweeet %>
        </div>
        <div>
          <%= link_to 'Post', tweeet %>
          <%= link_to 'Edit', edit_tweeet_path(tweeet) %>
          <%= link_to 'Destroy', tweeet, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
<br>
